<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h1>PANADERIA</h1>
                    <h2>PANES</h2>
                </div>
            </div>
        </div>
    </div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/Pan-arabe.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan Arabe Paq X 6 Unidades - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4335</ins> <del> $4.500</del>
                    </div>

                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/Pan-primavera.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan primavera queso FRESCAMPO 800 Gramo - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4990</ins> <del>$5.200</del>
                    </div>

                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/Roscon.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">ROSCON GUAYABA GRANDE FRESCAMPO 260 Gramo - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$2790</ins> <del>$3.200</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/Miel.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">MIEL Y NUEZ MOLDE FRESCAMPO 450 Gramo - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4242</ins> <del>$5.000</del>
                    </div>

                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/Baguette.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Baguette Ajo 380 Grs - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$3817</ins> <del>$4.100</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/Pan-Maiz.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan De Maiz x 6 und - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4.667</ins> <del>$5.000</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/kaiser.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan Kaiser prehorneado x 400 g - 400 Gramo</a>
                    </h5>
                    <div class="product-carousel-price">
                        <ins>$3.967</ins> <del>$4.100</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/guyaba.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan Con Guyaba y Queso X 1 Unidad - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4.000</ins> <del>$4.200</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    
        

            <div class="product-big-title-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-bit-title text-center">
                                <h2>TORTAS</h2>
                            </div>
                        </div>
                    </div>
                </div>
           


            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/tota1.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Torta Vainilla Chocolate -4 a 8 porciones-Entrega en 4 horas - DELI REPOSTERIA</a></h5>
                    <div class="product-carousel-price">
                        <ins>$30.515</ins> <del>$34.000</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/tota2.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Torta de Chocolate Deli - 4 a 8 porciones-Entrega en 4 horas - DELI REPOSTERIA</a></h5>
                    <div class="product-carousel-price">
                        <ins>$33.915</ins> <del>$34.000</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/tota3.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Melocotón apto para diabéticos - 4 a 8 porciones - 4 horas - DELI REPOSTERIA</a></h5>
                    <div class="product-carousel-price">
                        <ins>$33.200</ins> <del>$35.000</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/tota4.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Torta Fantasía Deli - 10 a 14 porciones - Entrega en 4 horas - DELI REPOSTERIA</a></h5>
                    <div class="product-carousel-price">
                        <ins>$56.015</ins> <del>$60.000</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/tota5.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Torta María Luisa Mora- 10 a 14 porciones-Entrega en 4 horas - DELI REPOSTERIA</a></h5>
                    <div class="product-carousel-price">
                        <ins>$37.315</ins> <del>$39.600</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/tota6.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Medalla de maracuyá - 4 a 8 porciones - Entrega en 4 horas - DELI REPOSTERIA</a></h5>
                    <div class="product-carousel-price">
                        <ins>$28.815</ins> <del>$31.700</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/tota7.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Tres Leches de Chocolate - 10 porciones - Entrega en 4 horas - DELI REPOSTERIA</a></h5>
                    <div class="product-carousel-price">
                        <ins>$46.665</ins> <del>$50.000</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Panaderia/tota8.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Torta Deliway Deli - 4 a 8 porciones - Entrega en 4 horas - DELI REPOSTERIA</a></h5>
                    <div class="product-carousel-price">
                        <ins>$30.515</ins> <del>$32.800</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

        </div>

