<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h1>CONFITERIA Y DULCES</h1>
                </div>
            </div>
        </div>
    </div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/barrilete.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan Arabe Paq X 6 Unidades - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4335</ins> <del> $4.500</del>
                    </div>

                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/bombo.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan primavera queso FRESCAMPO 800 Gramo - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4990</ins> <del>$5.200</del>
                    </div>

                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/chocolatina.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">ROSCON GUAYABA GRANDE FRESCAMPO 260 Gramo - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$2790</ins> <del>$3.200</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/chocrramo.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">MIEL Y NUEZ MOLDE FRESCAMPO 450 Gramo - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4242</ins> <del>$5.000</del>
                    </div>

                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/cofee.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Baguette Ajo 380 Grs - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$3817</ins> <del>$4.100</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/galletas.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan De Maiz x 6 und - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4.667</ins> <del>$5.000</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/mani.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan Kaiser prehorneado x 400 g - 400 Gramo</a>
                    </h5>
                    <div class="product-carousel-price">
                        <ins>$3.967</ins> <del>$4.100</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/masmelos.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan Con Guyaba y Queso X 1 Unidad - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4.000</ins> <del>$4.200</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/oreo.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan Con Guyaba y Queso X 1 Unidad - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4.000</ins> <del>$4.200</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/pasas.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan Con Guyaba y Queso X 1 Unidad - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4.000</ins> <del>$4.200</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/supercoco.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan Con Guyaba y Queso X 1 Unidad - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4.000</ins> <del>$4.200</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="../../assets/Dulceria/trululo.png" width="250px" height="300px" alt="">
                    </div>
                    <h5><a href="">Pan Con Guyaba y Queso X 1 Unidad - FRESCAMPO</a></h5>
                    <div class="product-carousel-price">
                        <ins>$4.000</ins> <del>$4.200</del>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                            rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>
                </div>
            </div>

           
        </div>
    
        

           
