<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h1>BEBIDAS</h1>
                    <h2>CERVEZAS</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="../../assets/Budweiser.png" width="250px" height="300px" alt="">
                        </div>
                        <h5><a href="">Cerveza Budweiser sixpack x 269 ml - BUDWEISER</a></h5>
                        <div class="product-carousel-price">
                            <ins>$14.600 </ins> <del> $15.000</del>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="../../assets/poker.png" width="250px" height="300px" alt="">
                        </div>
                        <h5><a href="">Cerveza Lata X 6 Unds - POKER</a></h5>
                        <div class="product-carousel-price">
                            <ins>$14.350</ins> <del>$14.500</del>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="../../assets/Aguila.png" width="250px" height="300px" alt="">
                        </div>
                        <h5><a href="">Cerveza Aguila Lata Sixpack x 355ml - AGUILA</a></h5>
                        <div class="product-carousel-price">
                            <ins>$$ 12.600</ins> <del>$13.000</del>
                        </div>
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="../../assets/Coronita.png" width="250px" height="300px" alt="">
                        </div>
                        <h5><a href="">Cerveza Sixpack Coronita x 210 ml c.u - CORONA</a></h5>
                        <div class="product-carousel-price">
                            <ins>$14.450</ins> <del>$15.000</del>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="../../assets/Heineken.png" width="250px" height="300px" alt="">
                        </div>
                        <h5><a href="">Cerveza Heineken SixPack Botella x 6 Und (250 ml c.u) - HEINEKEN</a></h5>
                        <div class="product-carousel-price">
                            <ins>$12.000</ins> <del>$12.600</del>
                        </div>
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="../../assets/clubColombia.png" width="250px" height="300px" alt="">
                        </div>
                        <h5><a href="">Cerveza Dorada Club Colombia Sixpack x 330 Ml c.u - CLUB COLOMBIA</a></h5>
                        <div class="product-carousel-price">
                            <ins>$16.500</ins> <del>$17.000</del>
                        </div>
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="../../assets/clubColombianegra.png" width="250px" height="300px" alt="">
                        </div>
                        <h5><a href="">Cerveza Club Colombia Negra Sixpack Lata x 6 Und (330 ml c.u) - CLUB COLOMBIA</a>
                        </h5>
                        <div class="product-carousel-price">
                            <ins>$16.600</ins> <del>$16.800</del>
                        </div>
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="../../assets/clubColombiaRoja.png" width="250px" height="300px" alt="">
                        </div>
                        <h5><a href="">Cerveza Club Colombia Roja Sixpack Lata x 6 Und (330 ml c.u) - CLUB COLOMBIA</a>
                        </h5>
                        <div class="product-carousel-price">
                            <ins>$15.600</ins> <del>$16.000</del>
                        </div>
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product-big-title-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-bit-title text-center">
                                    <h2>RON BRANDY Y COGÑANC</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="../../assets/Bacardi-RON.png" width="250px" height="300px" alt="">
                            </div>
                            <h5><a href="">Ron bacardi añejo x 750ml - BACARDI</a></h5>
                            <div class="product-carousel-price">
                                <ins>$34.425</ins> <del>$37.000</del>
                            </div>
                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                    rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="../../assets/Ron-caldas.png" width="250px" height="300px" alt="">
                            </div>
                            <h5><a href="">Ron Viejo de Caldas Extraviejo Juan De La Cruz x 750 ml - VIEJO DE CALDAS</a>
                            </h5>
                            <div class="product-carousel-price">
                                <ins>$52.600</ins> <del>$37.000</del>
                            </div>
                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                    rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="../../assets/Ron-Medellin.png" width="250px" height="300px" alt="">
                            </div>
                            <h5><a href="">Ron medellín gran reserva 12 años botella x 750 ml - MEDELLIN</a></h5>
                            <div class="product-carousel-price">
                                <ins>$52.600</ins> <del>$37.000</del>
                            </div>
                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                    rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="../../assets/Ron-Medellin8.png" width="250px" height="300px" alt="">
                            </div>
                            <h5><a href="">Ron Medellín extra añejo 8 años media x 375 ml - MEDELLINN</a></h5>
                            <div class="product-carousel-price">
                                <ins>$33.700</ins> <del>$37.000</del>
                            </div>
                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                    rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>